* {
    margin: 0px;
    padding: 0px;
    font-family: Muli;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.key {
    color: 'black'
}

#renderer,
#loadingDisplay {
    width: 100%;
    position: fixed;
    height: 100%;
}

#loadingDisplay {
    background: black url("../img/textures/splash.jpg") no-repeat;
}

#loadingDisplay #loadingText {
    text-align: center;
    font-size: 60px;
    bottom: 100px;
}

#keymapHint {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 40px;
    color: white;
    margin-bottom: 5px;
    margin-right: 10px;
}

html {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}

#keybinds {
    color: black;
}

#help {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    padding: 30px;
    overflow-y: auto;
    display: none;
}

#closeKeymap {
    width: 20;
    height: 20;
    position: absolute;
    top: 0px;
    text-align: center;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 25px;
    padding-top: 15px;
    cursor: pointer;
    transition: 0.1s;
}
#hintkeyhint{
    transform: translateY(-9px);
}
#closeKeymap:hover {
    color: white;
    background-color: maroon;
}

#help h1 {
    margin-bottom: 20px;
    color: black;
}

li {
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.key {
    display: inline-block;
    min-width: 20px;
    color: black;
    height: 25px;
    padding: 15px;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 20px;
    background-color: rgb(240, 240, 240);
    text-align: center;
    box-shadow: inset -5px 5px 2px rgba(0, 0, 0, 0.15), inset 5px -5px 2px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.bindName {
    display: inline-block;
    transform: translateY(7px);
}

body,
html {
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.20);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.60);
}

*:focus {
    outline: none;
}

*:link,
*:visited {
    color: white;
    text-decoration: none;
}

::-moz-selection {
    color: white;
    background: rgb(255, 80, 0);
}

::selection {
    color: white;
    background: rgb(255, 80, 0);
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

:-moz-placeholder {
    color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}

::-moz-placeholder {
    color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}

:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

input[type=text],
input[type=password],
input[type=email],
input[type=number] textarea {
    cursor: text;
}

input[type='button'],
input[type='submit'],
a[href] {
    cursor: pointer;
}
